<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div>
<!--                | means OR operator-->
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}

    {{test}}
    {{order}}
    {% for row in test %}
        <div>
        <!-- | means OR operator-->
            <strong>{{row}}</strong>
        </div>
    {% endfor %}

    <!-- <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> Upload a file</label>
        <input type="file" id="file1" name="file">
        <small>Only accepts CSV files</small>
        <button type="submit">Upload</button>
    </form> -->
    {% endif %}
    <!-- {% for profile in profiles %}
    {{profile.name}}
    {% endfor %} -->

    {{ priceGraph|safe }}
    <!-- {{ demandGraph|safe }} -->
</body>
</html>